# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Archivos de configuración de Eclipse
.classpath
.project
.settings/

# Archivos de configuración de VS Code
.vscode/

#Ignore TestSistema.java file
Trabajo_Practico_OO1/src/test/Test.java
